/**
  constant style variables
*/

$color-white: #fff;
$color-black: #000;
$text-light-red: #FC6262;
$text-light-green: #8AB94F;
$text-light-yellow: #ECAD0B;
$header-font-size: 21px;
$font-family: 'Gotham';
$font-weight-thin: 400;
$font-weight: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
